body
{
	background-color : #14F5B9;
	text-align : center;
	background-image : url("bg.jpg");
	background-size : cover;
	background-repeat : no-repeat;
}
h1
{
	font-size: 70px;
	font-weight: 600;
	/*background-image: linear-gradient(to left, #553c9a, #b393d3);*/
	color: #ffffc7;
	background-clip: text;
	-webkit-background-clip: text;
}
.container
{
	height : 70vh;
	display : flex;
	justify-content : center;
	align-items : center;
}
.game
{
	height : 60vmin;
	width : 60vmin;
	display : flex;
	flex-wrap : wrap; /*if no place come in next line*/
	justify-content : center;
	align-items : center;
	gap : 1.5vmin;
}
.box
{
	height : 18vmin;
	width : 18vmin;
	border-radius : 1rem;
	border : none;
	box-shadow : 0 0  1rem rgba(0,0,0,0.5);
	font-size : 8vmin;
	color : #b0413e;
	background-color : #ffffc7;
}
.boxColor
{
	height : 18vmin;
	width : 18vmin;
	border-radius : 1rem;
	border : none;
	box-shadow : 0 0  1rem rgba(0,0,0,0.5);
	font-size : 8vmin;
	color : #646E4B;
	background-color : #ffffc7;
}
#reset
{
	padding : 1rem;
	font-size : 1.25rem;
	background-color : #191913;
	color : white;
	border-radius: 1rem;
	border : none;
}
#new
{
	padding : 1rem;
	font-size : 1.25rem;
	background-color : #191913;
	color : white;
	border-radius: 1rem;
	border : none;
}
#msg
{
	color : #ffffc7;
	font-size : 5vmin;
}

.msg-container
{
	height : 100vmin;
	display:flex;
	justify-content : center;
	align-items:center;
	flex-direction : column;
	gap : 5rem;
}
.hide
{
	display : none;
}